nav.navbar {
    background: #156140 !important;
    color: white !important;
}

.main-sidebar {
    background-color: #156140 !important;
    color:  white !important;
}

.nav-link {
    color: white !important;
}